<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Message Me" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Message Me">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
   <%= stylesheet_link_tag "custom", media: "all" %>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <%= javascript_importmap_tags %>
  </head>
  <body>
<!-- ========== NavBar ========== -->
    <%= render 'layouts/navbar' %>
<!-- ========== End Section ========== -->
    <div class="ui container" style="margin-top: 2rem;">
      <%= yield %>
    </div>

    <!-- jQuery + Semantic UI JS — body ke end me -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
  </body>
</html>
